<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sushi Search SF</title>
    <!-- STYLESHEETS -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&callback=initMap" async defer></script>
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- VENDOR SCRIPTS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Sushi Spot SF</h1>
        <p>Your guide to sushi in the City!</p>
      </div>
    </div>
      <div class='container'>
        <section id='restaurant-form' class="col-md-12">
          <div class="row">
            <div class='col-md-6' id='map'></div>
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label class="control-label" for="name">Restaurant Name</label>
                    <div class="col-md-8">
                      <input name="name" type="text" placeholder="restaurant name" class="form-control input-md" id='restaurantname' required="">
                    </div>
                  </div>
                <div class="form-group">
                  <label class="control-label" for="long">Location:Longitude</label>
                  <div class="col-md-8">
                  <input name="longitude" type="text" placeholder="longitude" id='long' class="form-control input-md">
                </div>
              </div>
                <div class='form-group'>
                  <label class="control-label" for="lat">Location:Latitude</label>
                  <div class="col-md-8">
                  <input name="latitude" type="text" placeholder="latitude" id='lat' class="form-control input-md">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="rating">Rating(Scale from 1-10)</label>
                <div class="col-md-8">
                <input name="rating" type="text" placeholder="rating" id='rating' class="form-control input-md">
                </div>
              </div>
                <div class="form-group">
                  <label class="control-label" for="comments">Comments</label>
                    <div class="col-md-8">
                  <input name="comments" type="text" placeholder="comments" id ='comments' class="form-control input-md">
              </div>
              </div>
              <label class="control-label" for="singlebutton">Save Restaurant</label>
                <div class="col-md-2">
                  <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                </div>
              </div>
      </fieldset>
    </form>

  </div>
</section>
</div>
<div id='restaurants'>
  <script id='restaurant-template' type='text/x-handlebars-template'>
    <div class="row restaurant" data-restaurant-id="{{_id}}">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class='row'>
              </div>
              <div class="col-md-12 col-xs-12">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h4 class='inline-header'>Restaurant Name:</h4>
                    <span class='restaurant-name' id='{{_id}}'>{{name}}</span>
                  </li>
                  <li class="list-group-item">
                    <h4 class='inline-header'>Location:</h4>
                    <span class='location' id='{{_id}}'>{{#each location}} Latitude:{{latitude}} Longitude:{{longitude}}{{/each}}</span>
                  </li>
                  <li class="list-group-item">
                    <h4 class='inline-header'>Rating:</h4>
                    <span class='rating' data-rid='{{_id}}' id='{{_id}}'>{{rating}}</span>
                  </li>
                  <li class="list-group-item">
                    <h4 class="inline-header">Comments:</h4>
                    <span class='comments'>{{#each comments}} Date:{{date}} Body:{{body}}<br>{{/each}}</span>
                  </li>
                </ul>
              </div>
            </div>
              <div class='panel-footer'>
              <button class="btn btn-danger delete-restaurant">Delete Restaurant</button>
              <button class='btn btn-info edit-restaurant'>Edit Restaurant</button>
              <button class='btn btn-primary add-comment'>Add Comment</button>
              <button class="btn btn-secondary edit-comment">Edit Comment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </script>
  <div class="modal fade bs-modal-lg" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="editCommendModalTitle">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editedCommentModalTitle">Edit Comment List</h4>
        </div>
        <div class="modal-body" id='editCommentModalBody'>
          <script id="commentlist" type="text/x-handlebars-template">
          {{#each commentList}}
          <form class="form-inline comment-form" id="{{_id}}" data-comment-id="{{_id}}">
            <div class="form-group">
              <input type="text" name="date" class="form-control comment-date" value="{{date}}">
            </div>
            <div class="form-group">
              <input type="text" name="body" class="form-control comment-body" data-id="{{_id}}" value="{{body}}">
            </div>
            <div class="form-group">
              <button class="btn btn-primary save-changes" data-button-id="{{_id}}">Save Changes</button>
              <button class="btn btn-danger delete-comment">x</button>
            </div>
          </form>
          {{/each}}
        </script>
            </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
          </div>
        </div>
      </script>
</script>
<div class="modal fade bs-modal-lg" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommendModalTitle">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addCommentModalTitle">Add Comment</h4>
      </div>
      <div class="modal-body" id='addCommentModalBody'>
          <label class='addCommentDate'>Comment Date</label>
          <input class="commentDate" id="commentDate" val='' placeholder='Comment Date'>
          <label class='addCommentBody'>Comment Body</label>
          <input class="commentBody" id='commentBody' val='' placeholder='Comment Body'>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
        <button class="btn btn-primary save-changes" data-button-id={{_id}}>Save Changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
