
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height:550px;
  width:600px;
}
.inline-header{
  text-align: center;
}
h4{
  text-align:center;
}
.jumbotron {
  background-image: url(/images/sushiimg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}
.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}
body {
  background-color: black;
  color: white;
  font-family: Helvetica;
}
.panel-footer {
  background-color:black;
}
.panel-body{
  background-color: black;
  color: white;
}
input {
  color:black;
}
.list-group-item{
  background-color: black;
  color:white
}
.modal-content {
  background-color: black;
  color: white;
}
